//
//  cocoafob.xcconfig
//  cocoafob
//
//  Created by Jaime Rios on 2016-06-01.
//  Copyright © 2016 Jaime O. Rios. All rights reserved.
//

OTHER_CFLAGS = -isystem $PROJECT_DIR/components/openssl/include

GCC_C_LANGUAGE_STANDARD     = c11
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY           = libc++

OTHER_LDFLAGS = $PROJECT_DIR/components/openssl/lib/libcrypto.a $PROJECT_DIR/components/openssl/lib/libssl.a